name: CD - Continuous Deployment

on:
  workflow_run:
    workflows: ["CI - Continuous Integration"]
    types:
      - completed
      

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success'}}
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy via SSH and kubectl
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ubuntu
          key: ${{ secrets.PROD_SSH_KEY }}
          port: 22
          script: |
            echo "Checking Kubernetes availability..."
            if ! kubectl get nodes >/dev/null 2>&1; then
              echo "Kubernetes is not responding. If you're using minikube and it stops sometimes, you may need to start it manually on the server."
            fi

            echo "Updating deployment image to kwilsonuni/weather-ml-app:latest..."
            kubectl set image deployment/weather-ml-app \
              weather-ml-app=kwilsonuni/weather-ml-app:latest

            echo "Waiting for rollout to complete..."
            kubectl rollout status deployment/weather-ml-app --timeout=5m

            echo "Pods for app=weather-ml-app:"
            kubectl get pods -l app=weather-ml-app

            echo "Service status:"
            kubectl get service weather-ml-app-service
